.RemoveTasks {
  text-align: center;
  margin-left: 6px;
  color: red;
  width: 20px;
  height: 20px;
  background: rgba(246, 71, 71, 0.5);
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}
